{% extends 'base.html.twig' %}

{% block title %}Analyser votre texte{% endblock %}

{% block body %}
<div>
    {# En-tête #}
    <div>
        <h1>Assistant de synthèse - RH/ Santé du travail</h1>
        <p>Collez un document pour obtenir un résumé, les points clés et les actions à suivre. </p>
    </div>

    {# Texte à coller #}
    <div>
        <h2> Votre texte </h2>
        <form action="{{path ('app_document_analyze') }}" method='POST'>
            <textarea id='texte' name="user_text" placeholder= " C'est ici que je colle mon document">
            </textarea>
            <button type="submit"> Analyser le document</button>
        </form>
    </div>

    {# Résultat #}
    <div>
        <h2> Résultat </h2>
        {% if result %}
        <div>
            <div>
                <h3> Résumé </h3>
                    <p> {{ result.summary }} </p>
            </div>
            <div>
                <h3> Points importants </h3>
                    <ul>
                        {% for point in result.key_points %}
                        <li>{{ point }}</li>
                        {% endfor %}
                    </ul>
            </div>
            <div>
                <h3> Actions à suivre </h3>
                    <ul>
                        {% for action in result.actions %}
                        <li>{{ action }}</li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}
